spring:
  config:
    activate:
      on-profile: prod
    import: "aws-parameterstore:/ktb-community-backend-ps/"
  cloud:
    aws:
      region:
        static: ap-northeast-2

  datasource:
    url: jdbc:mysql://${database.url}/community?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    username: ${database.username}
    password: ${database.password}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
        maximum-pool-size: 20
        minimum-idle: 5
        idle-timeout: 300000
        max-lifetime: 600000
        connection-timeout: 30000
        pool-name: CommunityHikariCP
        leak-detection-threshold: 2000

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        generate_statistics: true
        use_sql_comments: false
        session:
          events:
            log:
              LOG_QUERIES_SLOWER_THAN_MS: 200

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
    timeout: 1800

cloud:
  aws:
    s3:
      domain: https://s3.ap-northeast-2.amazonaws.com/ktb-community-images-bucket/

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"
  file:
    name: /var/log/wepick/backend/app.log
  logback:
    rollingpolicy:
      max-file-size: 50MB
      max-history: 7
      total-size-cap: 1GB
  level:
    root: INFO
#    root: INFO
#    gguip1.community: INFO
#    gguip1.community.global.filter: INFO
#
#    org.springframework: WARN
#    org.springframework.jdbc.core: WARN
#    org.springframework.session: WARN
#    org.hibernate: WARN
#    com.zaxxer.hikari: INFO

    ### Detailed SQL logging for production debugging (use with caution) ###

    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.hibernate.stat: DEBUG
    org.hibernate.SQL_SLOW: INFO

    org.springframework.transaction: INFO
    org.springframework.orm.jpa: INFO

    com.zaxxer.hikari.pool.HikariPool: DEBUG

cors:
  allow-credentials: ${cors.allow-credentials}
  allowed-origins: ${cors.allow-origins}
  allowed-methods: ${cors.allow-methods}
  allowed-headers: ${cors.allowed-headers}
  max-age: ${cors.max-age}

auth:
  excluded-paths: ${auth.excluded-paths}
